In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("student-mat.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [3]:
ft=df.groupby('freetime')

In [4]:
for fr,fr_df in ft:
    print(fr)
    print(fr_df)

1
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
7       GP   F   17       U     GT3       A     4     4     other   teacher
19      GP   M   16       U     LE3       T     4     3    health     other
68      GP   F   15       R     LE3       T     2     2    health  services
89      GP   M   16       U     LE3       A     4     4   teacher    health
95      GP   F   15       R     GT3       T     1     1   at_home     other
106     GP   F   15       U     GT3       T     2     2     other     other
111     GP   F   16       R     GT3       T     3     3  services     other
112     GP   F   16       U     GT3       T     2     2   at_home     other
168     GP   F   16       U     GT3       T     2     2     other     other
189     GP   M   17       R     GT3       T     1     2   at_home     other
238     GP   F   17       R     GT3       T     2     1   at_home  services
260     GP   F   18       U     GT3       T     4     3  services     other
276     GP   F   18       R     GT3       A     3     2     other  services
293     GP   F   17       R     LE3       T     3     1  services     other
301     GP   M   17       U     LE3       T     4     4     other   teacher
314     GP   F   19       U     GT3       T     1     1   at_home    health
315     GP   F   19       R     GT3       T     2     3     other     other
378     MS   F   18       U     GT3       T     3     3     other     other
389     MS   F   18       U     GT3       T     1     1     other     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
7    ...      4        1      4     1     1      1        6   6   5   6
19   ...      3        1      3     1     3      5        4   8  10  10
68   ...      4        1      3     1     3      4        2   8   9   8
89   ...      4        1      3     3     5      5       18   8   6   7
95   ...      3        1      2     1     1      1        2   7  10  10
106  ...      5        1      2     1     1      3        8   7   8   8
111  ...      4        1      2     1     1      2        0   7  10  10
112  ...      3        1      2     1     1      5        6  10  13  13
168  ...      5        1      5     1     1      4        0   6   7   0
189  ...      3        1      3     1     5      3        4   8   9  10
238  ...      2        1      1     1     1      3        2  13  11  11
260  ...      3        1      2     1     3      2       21  17  18  18
276  ...      4        1      1     1     1      5       75  10   9   9
293  ...      3        1      2     1     1      3        6  18  18  18
301  ...      4        1      1     2     2      5        0  11  11  10
314  ...      4        1      2     1     1      3       14  15  13  13
315  ...      4        1      2     1     1      3       40  13  11  11
378  ...      4        1      3     1     2      1        0  15  15  15
389  ...      1        1      1     1     1      5        0   6   5   0

[19 rows x 33 columns]
2
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
3       GP   F   15       U     GT3       T     4     2    health  services
8       GP   M   15       U     LE3       A     3     2  services     other
11      GP   F   15       U     GT3       T     2     1  services     other
16      GP   F   16       U     GT3       T     4     4  services  services
25      GP   F   16       U     GT3       T     2     2  services  services
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
3    ...      3        2      2     1     1      5        2  15  14  15
8    ...      4        2      2     1     1      1        0  16  18  19
11   ...      5        2      2     1     1      4        4  10  12  12
16   ...      3        2      3     1     2      2        6  13  14  14
25   ...      1        2      2     1     3      5       14   6   9   8
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
368  ...      5        2      3     1     2      4        0  11  10  10
369  ...      3        2      2     4     2      5       10  14  12  11
370  ...      3        2      2     1     1      3        4   7   7   9
380  ...      3        2      4     1     4      2        4  15  14  14
394  ...      3        2      3     3     3      5        5   8   9   9

[64 rows x 33 columns]
3
    school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4  at_home   teacher
1       GP   F   17       U     GT3       T     1     1  at_home     other
2       GP   F   15       U     LE3       T     1     1  at_home     other
4       GP   F   16       U     GT3       T     3     3    other     other
10      GP   F   15       U     GT3       T     4     4  teacher    health
..     ...  ..  ...     ...     ...     ...   ...   ...      ...       ...
371     MS   M   18       R     LE3       T     1     2  at_home  services
375     MS   F   18       R     GT3       T     1     1    other     other
383     MS   M   19       R     GT3       T     1     1    other  services
385     MS   F   18       R     GT3       T     2     2  at_home     other
388     MS   F   18       U     LE3       T     3     1  teacher  services

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
4    ...      4        3      2     1     2      5        4   6  10  10
10   ...      3        3      3     1     2      2        0  10   8   9
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
371  ...      4        3      3     2     3      3        3  14  12  12
375  ...      4        3      2     1     2      4        2   8   8  10
383  ...      4        3      2     1     3      5        0   6   5   0
385  ...      5        3      3     1     3      4        2  10   9  10
388  ...      4        3      4     1     1      1        0   7   9   8

[157 rows x 33 columns]
4
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
13      GP   M   15       U     GT3       T     4     3   teacher     other
15      GP   F   16       U     GT3       T     4     4    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
384     MS   M   18       R     GT3       T     4     2     other     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
391     MS   M   17       U     LE3       T     3     1  services  services
393     MS   M   18       R     LE3       T     3     2  services     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
5    ...      5        4      2     1     2      5       10  15  15  15
6    ...      4        4      4     1     1      3        0  12  12  11
13   ...      5        4      3     1     2      3        2  10  10  11
15   ...      4        4      4     1     2      2        4  14  14  14
20   ...      4        4      1     1     1      1        0  13  14  15
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
384  ...      5        4      3     4     3      3       14   6   5   5
386  ...      4        4      3     2     2      5        7   6   5   6
387  ...      5        4      2     1     2      5        0   7   5   0
391  ...      2        4      5     3     4      2        3  14  16  16
393  ...      4        4      1     3     4      5        0  11  12  10

[115 rows x 33 columns]
5
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
9       GP   M   15       U     GT3       T     3     4     other     other
14      GP   M   15       U     GT3       A     2     2     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
22      GP   M   16       U     LE3       T     4     2   teacher     other
32      GP   M   15       R     GT3       T     4     3   teacher   at_home
35      GP   F   15       U     GT3       T     2     3     other     other
52      GP   M   15       U     LE3       A     4     2    health    health
61      GP   F   16       U     GT3       T     1     1  services  services
78      GP   M   17       U     GT3       T     2     1     other     other
91      GP   F   15       U     GT3       T     4     3  services     other
100     GP   M   16       U     GT3       T     4     4  services  services
110     GP   M   15       U     LE3       A     4     4   teacher   teacher
113     GP   M   15       U     LE3       T     4     2   teacher     other
121     GP   M   15       U     GT3       T     2     2  services  services
125     GP   M   15       U     GT3       T     3     4  services  services
129     GP   M   16       R     GT3       T     4     4   teacher   teacher
149     GP   M   15       U     LE3       A     2     1  services     other
153     GP   M   19       U     GT3       T     3     2  services   at_home
159     GP   M   16       U     GT3       T     3     3     other  services
165     GP   M   16       U     GT3       T     3     2  services  services
199     GP   F   16       U     LE3       T     4     4   teacher   teacher
231     GP   M   17       R     GT3       T     2     2     other     other
232     GP   M   17       U     GT3       T     4     4   teacher   teacher
237     GP   F   16       U     GT3       T     2     1     other     other
239     GP   M   18       U     GT3       T     2     2     other  services
240     GP   M   17       U     LE3       T     4     3    health     other
271     GP   F   18       U     GT3       T     2     3     other  services
273     GP   M   17       R     GT3       T     1     2   at_home   at_home
280     GP   M   17       U     LE3       A     4     1  services     other
306     GP   M   20       U     GT3       A     3     2  services     other
308     GP   M   19       R     GT3       T     3     3     other  services
312     GP   M   19       U     GT3       T     1     2     other  services
330     GP   M   18       U     LE3       T     2     2     other     other
349     MS   M   18       R     GT3       T     3     2     other     other
351     MS   M   17       U     GT3       T     3     3    health     other
354     MS   M   17       R     GT3       T     4     3  services     other
373     MS   F   17       R     GT3       T     1     2     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
390     MS   M   20       U     LE3       A     2     2  services  services
392     MS   M   21       R     GT3       T     1     1     other     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
9    ...      5        5      1     1     1      5        0  14  15  15
14   ...      4        5      2     1     1      3        0  14  16  16
18   ...      5        5      5     2     4      5       16   6   5   5
22   ...      4        5      1     1     3      5        2  15  15  16
32   ...      4        5      2     1     1      5        0  17  16  16
35   ...      3        5      1     1     1      5        0   8   7   6
52   ...      5        5      5     3     4      5        6  11  11  10
61   ...      5        5      5     5     5      5        6  10   8  11
78   ...      4        5      1     1     1      3        2   8   8  10
91   ...      4        5      5     1     3      1        4  16  17  18
100  ...      4        5      5     5     5      4       14   7   7   5
110  ...      5        5      3     1     1      4        6  18  19  19
113  ...      3        5      2     1     1      3       10  18  19  19
121  ...      5        5      4     1     2      5        6  16  14  15
125  ...      5        5      5     3     2      5        0  13  13  12
129  ...      3        5      5     2     5      4        8  18  18  18
149  ...      4        5      5     2     5      5        0   8   9  10
153  ...      4        5      4     1     1      4        0   5   0   0
159  ...      4        5      5     4     4      5        4  10  12  12
165  ...      4        5      2     1     1      2       16  12  11  12
199  ...      4        5      2     1     2      3        0   9   9  10
231  ...      4        5      2     1     1      1        4  11  11  11
232  ...      4        5      5     1     3      2       14  11   9   9
237  ...      4        5      2     1     1      5       20  13  12  12
239  ...      5        5      4     3     5      2        0   7   7   0
240  ...      2        5      5     1     4      5       14  12  12  12
271  ...      4        5      5     1     3      2        4  15  14  14
273  ...      3        5      2     2     2      1        2  15  14  14
280  ...      4        5      4     2     4      5       30   8   8   8
306  ...      5        5      3     1     1      5        0  17  18  18
308  ...      4        5      3     1     2      5        0  15  12  12
312  ...      4        5      2     2     2      4        3  13  11  11
330  ...      4        5      5     2     4      5        2   9   8   8
349  ...      2        5      5     5     5      5       10  11  13  13
351  ...      4        5      4     2     3      3        2  13  13  13
354  ...      4        5      5     1     3      2        4  13  11  11
373  ...      3        5      5     1     3      1       14   6   5   5
379  ...      4        5      4     2     3      1       17  10  10  10
390  ...      5        5      4     4     5      4       11   9   9   9
392  ...      5        5      3     3     3      3        3  10   8   7

[40 rows x 33 columns]

In [5]:
ft.get_group(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
68,GP,F,15,R,LE3,T,2,2,health,services,...,4,1,3,1,3,4,2,8,9,8
89,GP,M,16,U,LE3,A,4,4,teacher,health,...,4,1,3,3,5,5,18,8,6,7
95,GP,F,15,R,GT3,T,1,1,at_home,other,...,3,1,2,1,1,1,2,7,10,10
106,GP,F,15,U,GT3,T,2,2,other,other,...,5,1,2,1,1,3,8,7,8,8
111,GP,F,16,R,GT3,T,3,3,services,other,...,4,1,2,1,1,2,0,7,10,10
112,GP,F,16,U,GT3,T,2,2,at_home,other,...,3,1,2,1,1,5,6,10,13,13
168,GP,F,16,U,GT3,T,2,2,other,other,...,5,1,5,1,1,4,0,6,7,0
189,GP,M,17,R,GT3,T,1,2,at_home,other,...,3,1,3,1,5,3,4,8,9,10
238,GP,F,17,R,GT3,T,2,1,at_home,services,...,2,1,1,1,1,3,2,13,11,11
260,GP,F,18,U,GT3,T,4,3,services,other,...,3,1,2,1,3,2,21,17,18,18
276,GP,F,18,R,GT3,A,3,2,other,services,...,4,1,1,1,1,5,75,10,9,9
293,GP,F,17,R,LE3,T,3,1,services,other,...,3,1,2,1,1,3,6,18,18,18
301,GP,M,17,U,LE3,T,4,4,other,teacher,...,4,1,1,2,2,5,0,11,11,10
314,GP,F,19,U,GT3,T,1,1,at_home,health,...,4,1,2,1,1,3,14,15,13,13
315,GP,F,19,R,GT3,T,2,3,other,other,...,4,1,2,1,1,3,40,13,11,11
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0